python -m pip install --upgrade pip
pip install --upgrade wheel

pip install silero numpy ctransformers openai-whisper setuptools-rust torch torchaudio torchvision sounddevice keyboard langchain ffmpeg ujson pyaudio


* ffmpeg error: restart pc or manual download and add to path

could use json instead of ujson if user wants